<?xml version="1.0" encoding="UTF-8"?>
<suite name="SeleniumTestSuite" parallel="tests" thread-count="2">
    
    <test name="ChromeTests">
        <parameter name="browser" value="chrome"/>
        <groups>
            <run>
                <include name="smoke"/>
            </run>
        </groups>
        <classes>
            <class name="com.qa.selenium.LoginTest"/>
        </classes>
    </test>
    
    <test name="FirefoxTests">
        <parameter name="browser" value="firefox"/>
        <groups>
            <run>
                <include name="regression"/>
            </run>
        </groups>
        <classes>
            <class name="com.qa.selenium.LoginTest"/>
        </classes>
    </test>
    
    <test name="AllTests">
        <parameter name="browser" value="chrome"/>
        <classes>
            <class name="com.qa.selenium.LoginTest"/>
        </classes>
    </test>
    
</suite>
